table {
  border: 2px solid black;
  border-collapse: collapse;
}
th {
  width: 100px;
  border: 2px solid black;
}
td {
  border: 2px solid black;
}
button {
  display: inline-block;
  /* margin: 0 auto; */
  cursor: pointer;
}
